@charset "utf-8";

html,body{
  font-family:"맑은 고딕";
  color:white;
  background-color: black;
  margin:0;   
  height:100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar { 
    display: none; 
}
a{
    color:#333333;
    text-decoration: none;
}
a:hover{
    color:black;
}
img{
    vertical-align: bottom;
}
table,td,th{
    border:1px solid black;
    border-collapse:collapse;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:9999999;
}
.header-wrap{
    width:100%;
    max-width:1920px;
    height:80px;
    margin:auto;
    left:0;
    top:0;
    border:1px solid transparent;
    background-color:none;
    z-index:9999999;
    }

.container{
    width:100%;
    max-width:1920px;
    margin:auto;
    height:100%;
    position:relative;

}
h1{
    width:8%;
    background-color:none;
    margin:auto;
    margin-left:3%;
    margin-top:2.5%;
    text-align:center;
    float:left;
}
h1 img{
    width: 100%;
    top:100px;
}
nav{
    width:60%;
    height:50px;
    margin:auto;
    border-bottom:1px solid transparent;
    background-color:transparent;
    float:right;
    margin-top:2.5%;
    margin-right:10px;
}
.main-nav{
    width:100%;
    height:100%;
    padding:0;
    margin:auto;
    list-style:none;
    display:flex;
    justify-content: right;
}
.main-nav>li{
    width:25%;
}
.main-nav>li>a{
    display:block;
    width:100%;
    height:100%;
    background:transparent;
    text-align:center;
    padding:10px 0;
    font-size: 1.2vw;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main-nav>li>a:hover{
    color:rgb(255, 230, 161);
}
.main-bt{
  position: fixed;
  width: 7%;
  height: 4%;
  font-family: 'Times New Roman', Times, serif;
  left: 2%;
  bottom: 5%;
} 
.main-bt a{
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.1vw;
}
.main-bt>a:hover{
  color: rgb(255, 230, 161);
}
.about{
  position: relative;
  width: 100%;
  height: 85%;
  margin: auto;
  /* border: 1px solid white; */
  top: 15%;
  display: flex;
  flex-direction: column;
}
.a-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
}
#a1{
  width: 100%;
  background-image: url(../images/about.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}
h2{
  font-size: 3.5vw;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 13%;
  margin-top: 8%;
}
.a-text{
  font-size: 1.5vw;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 13%;
  line-height: 110%;
}
h3{
  font-size: 4vw;
  font-family: 'Times New Roman', Times, serif;
  float: right;
  margin-right: 7%;
  margin-top: -10%;
}
h6{
  position: absolute;
  margin-left: 68%;
  top:30%;
}
h4{
  display: none;
}
.mobile-nav{
  display: none;
}
@media screen and (max-width:1000px){

}
@media screen and (max-width:800px){

}
@media screen and (max-width:650px){

}
@media screen and (max-width:450px){

}